* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--textColor);
}



:root {
    --pencilColor: rgb(0, 0, 0);
    --primaryColor: #ECECEC;
    --secondaryColor: #FFFFFF;
    --textColor: #000000;
    --checkboxColor:#494949;
    --shadow: 0px 3px 6px rgba(0, 0, 0, 0.212);
}

.darkMode {
    --primaryColor: #320A28;
    --secondaryColor: #511730;
    --textColor: #E0D68A;
    --checkboxColor: #E0D68A;
}

.darkModeTransition {
    transition: all 0.5s !important;
}

body {
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

main {
    max-width: 1285px;
    width: 90%;
    max-height: 649px;
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 30px;
    height: 30px;
}

.sketchCard {
    background-color: var(--secondaryColor);
    border-radius: 12px;
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 650px;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sketchOption {
    width: 268px;
    height: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sketchOption h1 {
    position: absolute;
    top: 1px;
    margin: 0px;
    font-size: 35px;
}

.sketchOption div {
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}

.sketchOption div:hover {
    transform: scale(1.05);
}

.sketchPaintContainer {
    background-color: white;
    width: 537px;
    height: 537px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sketchPixelContainer{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    
}

.pixel {
    border: transparent solid 1px;
    user-select: none;
}

.grid .pixel{
    border: var(--checkboxColor) solid 1px;
}

.pixel:hover{
    background-color: rgba(0, 0, 0, 0.281);
}

.setting {
    border-radius: 12px;
    width: 100%;
    max-width: 283px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingMenu {
    background-color: var(--secondaryColor);
    width: 100%;
    border-radius: 12px;
    height: 100%;
    max-height: 68px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    position: relative;
}

.settingMenuTransition{
    transition: all 1s cubic-bezier(0.7, -0.31, 0.02, 1.38) 0s;
}

.settingMenuOpen{
    max-height: 418px;
    
}

.settingMenuOpenOption {
    display: flex !important;
    animation: fadeIn;
    animation-duration: 0.75s;
}

.settingMenuCloseOption {
    display: flex !important;
    animation: fadeOut;
    animation-duration: 0.75s;
}

.settingIcon {
    width: 30px;
    height: 30px;
}

.settingTitle {
    margin: 5px 0px 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.settingTitle h2 {
    font-weight: 300;
}

.settingMenuOptionRange {
    user-select: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondaryColor);
    width: 100%;
    max-width: 237px;
    height: 66px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
    padding: 0px 15px 0px 15px;
    
}

/* .settingMenuOptionRange div{
    width: 100%;
    max-width: 90%;
} */

.settingMenuOption {
    user-select: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    width: 100%;
    max-width: 237px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.upBtn {
    height: 23px;
    width: 23px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    transition: transform 0.1s;
    display: none;
}

.upBtn:hover {
    transform: scale(1.2);
}


.content {
    align-items: center;
    display: flex;
}

.checkbox {
    display: none;
}

.checkbox_box {
    width: 23px;
    height: 23px;
    border: 1px solid var(--checkboxColor);
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: border-color 0.s;

}

.checkbox_box::after {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 3px;
    background: var(--checkboxColor);
    transform: scale(0);
    transition: transform 0.1s;

}

.checkbox:checked+.checkbox_box::after {
    transform: scale(1);
}

.gitHub {
    background-color: var(--secondaryColor);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.275s;
}

.gitHub:hover {
    transform: scale(1.2);
}


#pencilColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 35px;
    margin-left: -30px;
    margin-right: 13px;
    border: none;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    left: 1px;
}

#pencilColor::-webkit-color-swatch {
    margin-top: -3px;
    margin-bottom: -5px;
    border-radius: 8px;
    border: none;
}

#pencilColor::-moz-color-swatch {
    border-radius: 8px;
    border: none;
}



#backgroundColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 35px;
    margin-right: 13px;
    border: none;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

#backgroundColor::-webkit-color-swatch {
    margin-top: -3px;
    margin-bottom: -5px;
    border-radius: 8px;
    border: none;
}

#backgroundColor::-moz-color-swatch {
    border-radius: 8px;
    border: none;
}

#resolutionGridInput{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    background: transparent;
    background-image:linear-gradient(var(--checkboxColor), var(--checkboxColor));
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

#resolutionGridText{
    width: 100%;
}

#resolutionGridInput::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--secondaryColor);
    border: var(--checkboxColor) solid;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border-width: 2px;
    margin-top: -9px;
    transition: background-color 0.6s;
}

#resolutionGridInput::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    border: var(--checkboxColor) solid;
    height: 10px;
    border-width: 1px;
    border-radius: 10px;
}


#resolutionGridInput::-moz-range-thumb {
    -moz-appearance: none;
    background-color: var(--secondaryColor);
    border: var(--checkboxColor) solid;
    height: 22px;
    width: 22px;
    border-radius:  100%;
    border-width: 2px;
    transition: all 2s;
}

#resolutionGridInput::-moz-range-track{
    -moz-appearance: none;
    border: var(--checkboxColor) solid;
    height: 7px;
    border-width: 1px;
    border-radius: 10px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }to{
        opacity: 1;
        transform: translateY(0px);  
    }
    
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }

}